body{
	background: #F0FFFF;
	font-family: Times New Roman, serif;
	width:cover;
}


header{
	width:100%;
	height:100px;
	background-image: url(../pink.jpg);
}
.logo img{
	float: center;
	width:100px;
	position:relative;
	left:53%;
	margin-left:-100px;
}

.main ul{
	
	list-style-type: none; 
	margin-top: 3%;
	margin-left: 25%;
}

.main ul li{
	display: inline-block;
	font-family:Century Gothic;
	
}

.main ul li a{
	text-decoration:none;
    color:#ffc0cb;
	padding: 5px 15px;
	border: 3px solid #ffc0cb;
	font-size: 18px;
	
}

.main ul li a:hover{
	background-color:#000;
	color: #ffc0cb;
}

.main ul li.active a{
	background-color:#fff;
	color: #000;
}

section {
	display: flex; /* Use flexbox to layout children side by side */
	align-items: center; /* Align children vertically in the center */
	justify-content: center; /* Horizontally center the content */
	background: #fff;
	margin: 7% 10%; /* Adjusted top margin and symmetric horizontal margins */
	padding: 20px; /* Add padding if needed */
  }
  
  .image {
	flex: 1; /* Allow the image container to grow */
	margin-right: 20px; /* Add some space between image and content */
  }
  
  .content {
	flex: 1; /* Allow the content container to grow */
	font-size: 150%;
	color: #696969;
  }
  
