*{
	margin:0; 
	padding:0;
	font-family: Century Gothic;
}

header{
	width:cover;
	height:100px;
	background-image: url(../pink.jpg);
}
.logo img{
	float: center;
	width:100px;
	position:relative;
	left:50%;
	margin-left:-100px;
}
html, body{
	height:100%;
	margin:0;
}

.main ul{
	
	list-style-type: none; 
	margin-top: 3%;
	margin-left: 27%;
}

.main ul li{
	display: inline-block;
	font-family:Century Gothic;
	
}

.main ul li a{
	text-decoration:none;
    color:#ffc0cb;
	padding: 5px 15px;
	border: 3px solid #ffc0cb;
	font-size: 18px;
	
}

.main ul li a:hover{
	background-color:#000;
	color: #ffc0cb;
}

.main ul li.active a{
	background-color:#fff;
	color: #000;
}

section{
	width: cover;
	
	background:#fff0f5;
	margin-left:10%;
	margin-right:10%;
	margin-top:1%;
}


.adopt-image1{
	margin-top:3%;
	
}

.adopt-title{
	font-size: 200%;
	margin-left:35%;
	padding:2%;
	color: #FF4500;
}

table{
    border-collapse: collapse;
    border-spacing: 0;
}

tr{
	display: table-row;
    vertical-align: inherit;
    border-color: inherit;
	
}

td{
	background-color:inherit;
	border:0;
	
}

.adopt-info div{
	text-align:center;
	margin:1%;
}
.name{
	color: #FF4500;
	font-size:150%;
	font-weight:bold;

}

.dog-type{
	font-weight: 600;
}


.page-wrapper{
	min-height:100%;
	
}


.footer{
	color:#d3d3d3;
	background: #FF69B4;
	height: 30%;
	position:relative;
	margin-top:1%;
	
}
 .footer .footer-bottom{
	 position:absolute;
	 text-align:center;
	 bottom:0;
	 left:45%;
	 padding-top:20%;
 }
 
 .footer .footer-content{
	 display:flex;
 }
 
.footer .footer-content .footer-section {
	flex:1;
	border: 1px solid #FF69B4;
	padding:1%;
}

.footer .footer-content .about{
	margin-left:1%;
	text-align:center;
	margin-top:0.6%;
}

.footer .footer-content .links{
	margin-left:8%;
}

.footer .footer-content .links ul a{
	display:block;
	font-size: 1em;
}
.footer .footer-content .links ul a:hover{
	margin-left:10%;
	transition: all .3s;
	color:white;
}

.footer .footer-content .contact-form .contact-input{
	margin-bottom: 5%;
	line-height:1.5em;
	width:100%;
	border:none;
	margin-left:-10%;
}

.footer .footer-content .contact-form .contact-input:focus{
	background:#FFF0F5;
}

.footer .footer-content .contact-form button{
	width:30%;
	font-size:1em;
	margin-left:-10%;
}












